<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 text-center">
                            Welcome to the ELECTIONS!
                            <hr>
                        <img style="margin: 0 auto; display:block; height: 30rem; width: 60%;" src="/images/vector.jpg">                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>